.footer-main-div{
    padding: 2%;
}
.affworld-logo-text{
    font-size: 38px;
    font-weight: bolder;
    display: flex;
    gap:20px;
    justify-content: start;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.footer-bio{
    width:35%;
    gap:20px;
}
.footer-div-1{
   width:70%; 
}
.footer-div-2{
    width: 15%;
}
.signup-text{
    color:#392976;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 2px solid #392976;
    border-right: 2px solid #392976;
    border-radius: 5px;
}
.image1{
    width: 30%;
    margin-bottom: 50%;
}
.image2{
    width: 20%;
    margin-bottom: 50%;
}
.image3{
    width: 20%;
    margin-bottom: 50%;
}

.image4{
    width:17%;
    margin-bottom: 50%;
}
.bottom-navbar{
    gap:1%;
    width: 40%;
}
.footer-bottom-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width:100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top:10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top:2px solid #392976;
    border-radius: 2px;
}
.bottom-text{
    color:brown
}

.mobile-view{
    padding-left: 10px;
    padding-right: 10px;
}


  @media only screen and (max-width: 1300px) {
    .footer-main-div{
        display: flex;
        flex-direction: column;
        gap:50px;
        padding: 0%;
    }
    .signup-text-before{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .signup-text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-div-1{
        width: 90%;
    }
  }

  @media only screen and (max-width: 900px) {
    .dekstop-view-footer{
        display: none;
    }
    .footer-div-1{
        width:100%; 
     }
     .footer-div-2{
         width: 100%;
         margin-top: 20%;
     }
     .footer-bio{
        width:90%;
        gap:20px;
    }
    .bottom-text{
        font-size:10px;
    }
    .footer-bottom-div{
        padding-left: 1%;
        padding-right: 1%;
        margin-top: 10%;
    }
    .image1{
        width: 30%;
        margin-bottom: 5%;
    }
    .image2{
        width: 20%;
        margin-bottom: 5%;
    }
    .image3{
        width: 20%;
        margin-bottom: 5%;
    }
    
    .image4{
        width:17%;
       margin-bottom: 5%;
    }
  }

  @media only screen and (min-width: 900px) {
    .mobile-view{
        display:none;
    }
  }

