@media only screen and (max-width: 900px) {
    .desktop-view{
        display: none;
    }
    
    .mobile-view{
      gap:20px
    }
  }

@media only screen and (min-width: 900px) {
    .mobile-view{
        display: none;
    }
  }
