.card1{
    height: 400px;
    transition: 0.5s all;

}
.card1:hover{
    transform: scale(1.05);
    transition: 0.5s all;
}
.card-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}       

@media only screen and (max-width: 900px) {
    .card-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    } 
    .card1{
        height: fit-content;
        width: 80vw;
        transition: 0.5s all;
    
    }
    .affworld-works{
        padding-bottom: 50px;
        margin-top: 100px;
    }
    .affworld-works .heading-text{
        font-size: 25px;
        margin-top: 25px;
    }
  }